<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>No-Picture-Example</title>
  <style>
    body {
      background-image: url(../assets/no-picture.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 1200px;
      position: relative;
    }

    .answer {
      font-size: large;
      position: absolute;
      top: 130px;
      left: 265px;
      width: 700px;
    }

    .analysis {
      font-size: large;
      position: absolute;
      top: 330px;
      left: 265px;
      width: 700px;
    }
  </style>
</head>
<body>
  <div class="answer">
    {answer}
  </div>
  <div class="analysis">
    {analysis}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>